h1, p, h3, h2, button{
	font-family: 'Exo', sans-serif;
	color: white;
}
#meetCrew{
	text-align: center;
}

#container{
	background-image: linear-gradient(to right top, #2b323d, #564560, #935369, #bf6d57, #c29c43);
}
div.leftMember{
	padding: 4em;
	
}

img {
	float: left;
}
h2.name{
	
}
p.title{

}

div.rightMember{
	padding: 4em;
}

img {
	float: left;
}
h2.name{
	
}
p.title{

}